.info-sign-color {
  color: black;
}

.dev {
  position: fixed;
  top: 0;
}

.well {
  background-color: transparent;
  margin-top: 15px;
}

.run-out {
  background-color: red;
}

.animate {
  transition: background-color 3s ease-in-out;
}