<div id="addItemDialogId" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add item you want to track servicing</h4>
            </div>
            <form class="form-horizontal">
                <div class="modal-body pre-scrollable" style="max-height: 800px;">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputName" placeholder="Name" [value]="item.name" (input)="item.name=$event.target.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDescription" class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputDescription" placeholder="Description" [value]="item.description" (input)="item.description=$event.target.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLifecycle" class="col-sm-4 control-label">Lifecycle, days</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="inputLifecycle" placeholder="Lifecycle" [value]="item.lifecycle" (input)="item.lifecycle=$event.target.value">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputMaintenanceDate" class="col-sm-4 control-label">Maintenance date</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" id="inputMaintenanceDate" placeholder="Maintenance date" [value]="item.maintenanceDate" (input)="item.maintenanceDate=$event.target.value">
                        </div>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Advanced
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-md-6">Upload image in <code>jpg</code> format with dimension <code>256x256</code>. The thumbnail of <code>64x64</code> will be created automatically.</div>
                                        <div class="col-md-6">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="#">
                                                        <img class="media-object img-rounded" src="/angular2/frontend/mock/logo.JPG" style="width: 64px; height: 64px;">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">If this element is a part of another select corresponding on from dropdown</div>
                                        <div class="col-md-6">
                                            <div class="btn-group" role="group">
                                                <div class="btn-group" role="group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        Select parent
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#">Fridge</a></li>
                                                        <li><a href="#">Washing machine</a></li>
                                                    </ul>
                                                </div>
                                                <button type="button" class="btn btn-default">Clear</button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Maintenance requires a separate specialist.</div>
                                        <div class="col-md-6">
                                            <ui-switch size="small" [(ngModel)]="item.advanced.requiresSpecialist" [ngModelOptions]="{standalone: true}"></ui-switch>
                                        </div>
                                    </div>
                                    <div class="well" *ngIf="item.advanced.requiresSpecialist">
                                        <div class="row">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="companyId" class="col-sm-offset-1 col-sm-2 control-label">Company</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="companyId" placeholder="Company">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="emailId" class="col-sm-offset-1 col-sm-2 control-label">Email</label>
                                                    <div class="col-sm-8">
                                                        <input type="email" class="form-control" id="emailId" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="phoneId" class="col-sm-offset-1 col-sm-2 control-label">Phone</label>
                                                    <div class="col-sm-8">
                                                        <input type="tel" class="form-control" id="phoneId" placeholder="Phone">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="moneyId1" class="col-sm-offset-1 col-sm-2 control-label">Cost</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" id="moneyId1" placeholder="Cost">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">Requires additional details.</div>
                                        <div class="col-md-6">
                                            <ui-switch size="small" [(ngModel)]="item.advanced.requiresAdditionalDetails" [ngModelOptions]="{standalone: true}"></ui-switch>
                                        </div>
                                    </div>
                                    <div class="well" *ngIf="item.advanced.requiresAdditionalDetails">
                                        <div class="row">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label for="descId" class="col-sm-offset-1 col-sm-2 control-label">Description</label>
                                                    <div class="col-sm-8">
                                                        <textarea id="descId" class="form-control col-sm-offset-1 col-sm-2 control-label" style="margin-left: 0" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="moneyId" class="col-sm-offset-1 col-sm-2 control-label">Cost</label>
                                                    <div class="col-sm-8">
                                                        <input type="number" class="form-control" id="moneyId" placeholder="Cost">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>