<div id="login-form" class="container well general-form">
    <div class="description">To login please select a user or <a routerLink="/register" class="hyperlink">register</a></div>
    <form class="form-horizontal">
        <div class="form-group col-sm-4">
            <div class="btn-group">
                <button id="select-user-btn" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select user</button>
                <ul class="dropdown-menu user-list">
                    <li *ngFor="let user of users; let last = last">
                        <a href="#">
                            <div class="row">
                                <div class="col-sm-2">
                                    <img height="64" width="64" [src]="getImageURL(user)">
                                </div>
                                <div class="col-sm-4">
                                    <div class="user-parameter">{{user.firstName}}</div>
                                    <div class="user-parameter">{{user.secondName}}</div>
                                    <div><span [class]="getUserClass(user)">{{user.role}}</span>  <span id="user-activation-pending-id" class="label label-default" *ngIf="user.state === 'DRAFT'">Not Activated</span></div>
                                </div>
                            </div>
                        </a>
                        <div *ngIf="!last">
                            <hr>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-group col-sm-8">
            <input type="password" class="form-control" id="password-id" placeholder="Password">
        </div>
        <div class="form-group col-sm-12">
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember-me-id"> Remember me
                </label>
            </div>
        </div>
        <div class="form-group col-sm-12">
            <button type="submit" class="btn btn-default" routerLink="/admin">Sign in</button>
        </div>
    </form>
</div>