<div class="row">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Item</th>
            <th>Time elapsed</th>
            <th>Info</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items">
            <td>{{item.name}}</td>
            <td>
                <div class="row">
                    <div class="col-sm-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                <span class="sr-only">60% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        {{item.lifecycle}} days
                    </div>
                </div>
            </td>
            <td>
                {{item.infoGlyphicons}}
                <!--<span class="glyphicon glyphicon-info-sign info-sign-color"></span>&lt;!&ndash; Popup with all contained items lifecycles &ndash;&gt;-->
                <!--<span class="glyphicon glyphicon-list-alt info-sign-color"></span>&lt;!&ndash; Consists of several parts &ndash;&gt;-->
                <!--<span class="glyphicon glyphicon-camera info-sign-color"></span>&lt;!&ndash; Photos available &ndash;&gt;-->
                <!--<span class="glyphicon glyphicon-usd info-sign-color"></span>&lt;!&ndash; Money info available &ndash;&gt;-->
                <!--<span class="glyphicon glyphicon-phone info-sign-color"></span>&lt;!&ndash; Service provider info available &ndash;&gt;-->
                <!--<span class="glyphicon glyphicon glyphicon-shopping-cart info-sign-color"></span>&lt;!&ndash; Bought but requires service &ndash;&gt;-->
                <!-- Colors:
                    yellow/red => needs for attention
                    blue => default
                -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="row">
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addItemDialogId">+</button>
</div>
<addItemDialog class=""></addItemDialog>
