<div class="panel panel-default">
    <div class="panel-heading">Filters</div>
    <div class="panel-body">
        <div [class]="hasAnyFilter() ? 'filter-list' : 'filter-list last-item'">
            <div *ngFor="let filterGroup of sampleFilterGroups">
                <span><b>{{filterGroup.name}} </b></span><span class="glyphicon glyphicon-menu-up"></span>
                <ul>
                    <li *ngFor="let filter of filterGroup.filters" [class]="filter!=='boolean' ? 'composite' : ''">
                        <div *ngIf="!filter.active">
                            <div [ngSwitch]="filter.type">
                                <template [ngSwitchCase]="'boolean'">
                                    <span class="glyphicon glyphicon-plus-sign"></span><span> {{filter.name}}</span>
                                </template>
                                <template [ngSwitchCase]="'numeric'">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    <span>{{filter.name}}</span>
                                    <div class="filter-item-input-group">
                                        <input type="text" class="filter-item-input"> -
                                        <input type="text" class="filter-item-input">
                                        <button type="button" class="btn btn-xs btn-default">Ok</button>
                                    </div>
                                </template>
                                <template [ngSwitchCase]="'date'">
                                    <span class="glyphicon glyphicon-plus-sign"></span>
                                    <span>{{filter.name}}</span>
                                    <div class="filter-item-input-group">
                                        <input type="date" class="filter-item-input">
                                        <input type="date" class="filter-item-input">
                                        <button type="button" class="btn btn-xs btn-default">Ok</button>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="hasAnyFilter()">
            <div class="applied-filters">
                <b>Applied filters</b> <span class="glyphicon glyphicon-menu-up"></span>
                <ul>
                    <li *ngFor="let filter of appliedFilters">
                        <span class="glyphicon glyphicon-minus-sign"></span> {{filter.description}}
                    </li>
                </ul>
            </div>
            <div class="clear-filters last-item">
                <div class="action action-red">
                    <span class="glyphicon glyphicon-remove"></span><span> Clear</span>
                </div>
            </div>
        </div>
    </div>
</div>