body, div {
    /*border: solid 1px gray;*/
}

.mode {
    position: relative;
    top: -40px;
    float: right;
}

.report-dropdown {
    position: relative;
    top: -100px;
    right: -235px;
    float: right;
    z-index: 1;
}

#prepare-tasks {
    position: relative;
    top: -100px;
    right: -15px;
    float: right;
    z-index: 1;
}

.search {
    display: inline;
    position: relative;
    top: -100px;
}

.search-button {
    position: relative;
    top: -100px;
    left: 150px;
}

.filters {
    display: inline;
    position: relative;
    font-style: italic;
    top: -25px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: dotted 1px;
    cursor: pointer;
}

.filters span {
    font-size: x-small;
}

.filters-content {
    display: none;
    position: fixed;
    z-index: 1;
    top: 120px;
}

#filter-menu-id ul li {
    padding-left: 15px;
}

#filter-menu-id ul li label {
    font-weight: normal;
}

#filter-menu-id ul li label span {
    padding-left: 5px;
}

#grind-id {
    min-height: 100px;
    max-height: 800px;
}

label {
    font-weight: normal;
}

.buttons-mode-admin {
    display: none;
}

.buttons-mode-user div button {
    width: 100px;
}

.buttons-nav div {
    position: relative;
    float: right;
    right: 15px;
}

.buttons-nav div button {
    width: 120px;
}

.content {
    position: relative;
    top: -10px;
}

.well {
    background-color: transparent;
}